<h1>Listing sys_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account</th>
      <th>Status</th>
      <th>Parent</th>
      <th>Lft</th>
      <th>Rgt</th>
      <th>Depth</th>
      <th>Use days</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sys_categories.each do |sys_category| %>
      <tr>
        <td><%= sys_category.name %></td>
        <td><%= sys_category.account_id %></td>
        <td><%= sys_category.status %></td>
        <td><%= sys_category.parent_id %></td>
        <td><%= sys_category.lft %></td>
        <td><%= sys_category.rgt %></td>
        <td><%= sys_category.depth %></td>
        <td><%= sys_category.use_days %></td>
        <td><%= link_to 'Show', sys_category %></td>
        <td><%= link_to 'Edit', edit_sys_category_path(sys_category) %></td>
        <td><%= link_to 'Destroy', sys_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_sys_category_path %>
